{% load static %}

<!doctype html>
<html lang="en">
  <head>
      <style>
          .search_id{
              margin: 20px 10px 20px 10px;
              
              display: block;
          }
          .col1{
              margin: 30px 30px 30px 30px;
          }
      
      </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation|neon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
      <div class="search_id">
    
        

        
           <div class="form-inline">
             <form method="POST">
                          <span class="badge">search by</span>
           <div class="dropdown">
   
         <select name="probview" id="search_content" class="btn btn-light dropdown-toggle" class="custom-select" >
       
    <option  value="area">AREA</option>
    <option value="problem">PROBLEM</option> 
    <option value="ministry">MINISTRY</option>
  
  
      </select>
</div>
{% block c1 %}
{% endblock %}
    <input id ="search_content1" name="probview1" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   
    <input type="button" class="btn btn-dark" id="search_content2" value="submit" onclick=fun()>    
 </form>
  </div>

          </div>
      <table class="table table-dark col1 container font-effect-outline">
  <thead>
    <tr >
      <th class="font-effect-outline" scope="col">PROBLEM</th>
      <th scope="col" class="font-effect-outline">AREA</th>
      <th scope="col" class="font-effect-outline">POSTED BY</th>
      <th scope="col" class="font-effect-outline">STATUS</th>
      <th scope="col" class="font-effect-outline">VIEW</th>
    </tr>
  </thead>
  <tbody class="tablebody">
      {% for i in post_data %}
    <tr>
      <td  ><span  class="font-effect-neon">{{ i.problem_statement}}</span></td>
        <td  ><span  class="font-effect-neon">{{ i.constituency}}</span></td>
      <td><span  class="font-effect-neon">{{i.user_post.user.username}}</span></td>
      <td><span  class="font-effect-neon">{{i.val}}</span></td>
      <td><a href="/socialissue/newsdata/{{i.id}}/" class="btn"><span  class="font-effect-neon">view</span></a></td>
    </tr>
      {% endfor %}
   
   
  </tbody>
</table>
      
  <script >
  function fun(){
    document.location.href="{% url 'news_content' %}";
  }
  </script>
    <!-- Optional JavaScript -->
    
    <!--  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>